<%= render :partial => "/main/navbar" %>

<body style="background-color:#e3e5e4">
    <div class = "container">
        <div class="col-md-12" style="height:auto; text-align:center; border-top: 2px solid #b7b7b7; border-bottom: 1px solid #b7b7b7; background-color: #e3e5e4; margin:110px 0px 0px 0px;"> 
            <div style="padding: 27px 0px 30px 0px;">
              <span style="font-weight: 800; color:#727272; font-size: 120%;">공지게시판 |</span> 
              <span style="font-weight: 500;color:#a6a6a6; font-size: 120%;">&nbsp;SKK:LAB의 공지 및 일정을 확인하세요</span>
            </div>
        </div>

        <%= render :partial =>"main/aside2"%> 
    
        <section class ="form-style-10" style="margin-top:20px; padding-left:0px; padding-right:0px">
            <div class="section" style="padding-left: 40px; color: #000; font-size: 150%; margin-top: -12px;margin-bottom: 15px;"> 공지게시판</div>  
            <div class="inner-wrap" style="border-radius:0px">
                <div class="row" style="border-bottom: 1px #b5b5b5 solid; text-align: center; padding: 0px 10px 15px 0px;">         
                    <div class="col-md-2 col-xs-2 col-sm-12" style="padding-left: 0px; font-weight: 800; color: #299676;">번호</div>
                    <div class="col-md-6 col-xs-4 col-sm-12 " style=" word-break: break-all;  text-align: left; padding-left: 0px; word-break: break-all;  font-weight: 800; color: #299676;">제목</div>
                    <div class="col-md-2 col-xs-3 col-sm-12" style="font-weight: 800; color: #299676;">작성자</div>
                    <div class="col-md-2 col-xs-3 col-sm-12" style="font-weight: 800; color: #299676;">등록일</div>
                </div>
    
                <br>
                                 
                <div class="row" id="freeboard_onclick" style="  padding: 0px 10px 0px 0px; text-align: center;">  
                    <div class="col-md-2 col-xs-2 col-sm-12" style="padding-left: 0px; font-weight: 500; color: #303130;"><%=@this_article.id%></div>
                    <div class="col-md-6 col-xs-4 col-sm-12 " style="text-align: left;  padding-left: 0px; font-weight: 500; color: #303130;"> <%= @this_article.notice_title %></div>
                    <div class="col-md-2 col-xs-3 col-sm-12" style="font-weight: 500; color: #303130;"><%=@this_article.notice_writer%></div>
                    <div class="col-md-2 col-xs-3 col-sm-12" style="font-weight: 800; color: #303130;"><%=@this_article.created_at.in_time_zone("Seoul").strftime("%Y/%m/%d")%></div><br>
        
                    <hr style="margin: 15px;     width: 100%;">
                </div>
                         
                <br>
                <div style=" word-break:break-all; height: auto; padding: 10px 65px 10px 65px; text-align:left;">
                    <%= @this_article.notice_article.gsub( /\n/, '<br />').html_safe %>
                </div>
                <br>
                                 
                <hr style="margin: 10px;     width: 100%;">
            </div>
            
            <!-- 이후 1은 지우고 3만 남겨야함 -->
            <% if current_user.authentication ==3 %> 
                <div style="text-align: center; margin-top: 30px;">
                    <input type="button" value="목록으로" onclick="location.href='/notice/notice_board'"> 
                    <input type="button" id="move_to_noticemodify" value="수정">
                    <input type="button" id="move_to_noticedelete" value="삭제">
                </div>
            <% else %>
                <div style="text-align: center; margin-top: 30px;">
                    <input type="button" value="목록으로" onclick="location.href='/notice/notice_board'">
                    <input type="button" value="메인으로" onclick="location.href='/main/main'"> 
                </div>
            <% end %>
        </section>
    </div>
    <input type="hidden" id="check_notice_id" value="<%= @this_article.id %>">
    <input type="hidden" id="check_authentication" value="<%= current_user.authentication %>">
    <input type="hidden" id="check_num_myeval" value="<%= current_user.num_myeval %>">
</body>

<script>       
  $(function() {
   new app2.Subjects;
  }); 
    $('#check_search').click(function(){
        var value1 = $( '#check_authentication' ).val();
        var value2 = $( '#check_num_myeval' ).val(); 
        
        var check_num1  = parseInt( value1 );
        var check_num2 = parseInt( value2 );  
    
        if( check_num1 == 0 || check_num1 == 1 ){
            alert( "성균인 인증을 해주세요" );
            return false;
        }
        else if( check_num2 < 3 ){
            alert( "강의평가를 3개 이상 작성해주세요" );
            return false;
        }
        else{
            location.href = "/system/finding_test_result";
            return true;
        }
      });
      
      $('#move_to_noticemodify').click(function(){
          var value = $( '#check_notice_id' ).val();
          var route = "/notice/notice_modify/" + value;
          
          location.href = route;
      });
      
      $('#move_to_noticedelete').click(function(){
          var value = $( '#check_notice_id' ).val();
          var route = "/notice/notice_delete/" + value;
          
          location.href = route;
      });
      
          $('#move_to_main').click(function(){
        location.href = "/main/main"
    });
    
    $('#move_to_mypage').click(function(){
        location.href = "/system/myinfo_eval"
    });
  
    $('#move_to_evalutation').click(function(){
        location.href = "/system/lecture_evaluate"
    });
    
    $('#myModal').on('shown.bs.modal', function () {
      $('#modify_username').focus()
    });
      
    $('#qqq').click(function(){
        alert("정보 수정이 완료되었습니다");
        location.href = "/system/myinfo_modify_process";
    });
</script>